@font-face {
    font-family: "GraublauWeb";
    src: url('static/font/Gordita\ Light.woff') format("woff");
}

.headings {
    font-family: "GraublauWeb";
    font-weight: 400;
    color: rgb(89, 73, 59);
    font-size: 1.5rem;
}

.background-image {
    position: relative;
    height: 6rem;
}

.background-image-1 {
    position: absolute;
    height: 3vw;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.textss {
    font-family: 'Gruppo', cursive;
    margin: 0px;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0px;
}

.texts {
    font-family: 'Gruppo', cursive;
    margin: 0px;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0px;
}

.texts-1 {
    font-family: 'Gruppo', cursive;
    margin: 0px;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0px;
}

.headings-1 {
    font-family: "GraublauWeb";
    font-weight: 400;
    color: #59493b;
    font-size: 2rem;
}

b {
    font-weight: 900;
}

.buttons {
    font-size: 2rem;
    font-family: 'GraublauWeb';
}

.buttons:hover {
    border-radius: 50px;
    background-color: #59493b;
    color: white;
}

.headtext {
    /* font-size: 100%; */
    animation-name: head;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#text2 {
    animation-delay: 2s;
}

@keyframes head {
    0% {
        font-size: 3rem;
        opacity: 1;
    }
    50% {
        /* font-size: 0; */
        opacity: 0;
    }
    100% {
        font-size: 3rem;
        opacity: 1;
    }
}

.headtext {
    font-size: 3rem;
    color: #59493b;
}